In [1]:
import numpy as np 
import pandas as pd 
import torch 
import torch.nn as nn
import torch.nn.parallel 
import torch.optim as optim 
import torch.utils.data
from torch.autograd import Variable

In [2]:
training_set = pd.read_csv('training_set.csv')

In [3]:
training_set.head()

   User  Movie  Rating  Timestamp
0     1    661       3  978302109
1     1    914       3  978301968
2     1   3408       4  978300275
3     1   2355       5  978824291
4     1   1287       5  978302039

In [4]:
test_set = pd.read_csv('test_set.csv')

In [5]:
test_set.head()

   User  Movie  Rating  Timestamp
0     1   1193       5  978300760
1     1   1197       3  978302268
2     1   2804       5  978300719
3     1    595       5  978824268
4     1    938       4  978301752

In [6]:
import seaborn as sns

In [7]:
movies = pd.read_csv('ml-1m/ml-1m/movies.dat', sep = '::', header = None, engine = 'python', encoding = 'latin-1')

In [8]:
users = pd.read_csv('ml-1m/ml-1m/users.dat', sep = '::', header = None, engine = 'python', encoding = 'latin-1')

In [9]:
users.head()

   0  1   2   3      4
0  1  F   1  10  48067
1  2  M  56  16  70072
2  3  M  25  15  55117
3  4  M  45   7  02460
4  5  M  25  20  55455

In [10]:
ratings = pd.read_csv('ml-1m/ml-1m/ratings.dat', sep = '::', header = None, engine = 'python', encoding = 'latin-1')

In [11]:
ratings.head()

   0     1  2          3
0  1  1193  5  978300760
1  1   661  3  978302109
2  1   914  3  978301968
3  1  3408  4  978300275
4  1  2355  5  978824291

In [12]:
movies[movies[0]==357]

       0                                   1               2
353  357  Four Weddings and a Funeral (1994)  Comedy|Romance

In [13]:
training_set = np.array(training_set, dtype = 'int')

In [14]:
training_set

array([[        1,       661,         3, 978302109],
       [        1,       914,         3, 978301968],
       [        1,      3408,         4, 978300275],
       ...,
       [     6040,       562,         5, 956704746],
       [     6040,      1096,         4, 956715648],
       [     6040,      1097,         4, 956715569]])

In [15]:
test_set = np.array(test_set, dtype = 'int')

In [16]:
test_set

array([[        1,      1193,         5, 978300760],
       [        1,      1197,         3, 978302268],
       [        1,      2804,         5, 978300719],
       ...,
       [     6040,       527,         5, 956704219],
       [     6040,      2003,         1, 956716294],
       [     6040,       535,         4, 964828734]])

In [17]:
nb_users = int(max(max(training_set[:,0]),max(test_set[:,0])))

In [18]:
nb_users

6040

In [19]:
nb_movies = int(max(max(training_set[:,1]),max(test_set[:,1])))

In [20]:
nb_movies

3952

In [21]:
id_movies = training_set[:,1][training_set[:,0]==1]
id_movies

array([ 661,  914, 3408, 2355, 1287,  594,  919, 2918, 1035, 2791, 2687,
       2018, 3105,  720, 1270,  527, 2340,   48, 1097, 1721, 1545,  745,
       2294, 3186, 1566,  588, 1907, 1836, 1022,  150,    1, 1961, 2692,
       1028, 1029, 1207, 2028, 3114,  608, 1246])

In [22]:
def convert(data):
    new_data = []
    for id_users in range(1,nb_users+1):
        id_movies = data[:,1][data[:,0]==id_users]
        id_ratings = data[:,2][data[:,0]==id_users]
        ratings = np.zeros(nb_movies)
        ratings[id_movies-1] = id_ratings
        new_data.append(list(ratings))
    return new_data

In [23]:
training_set = convert(training_set)

In [24]:
test_set = convert(test_set)

In [25]:
len(training_set[0])

3952

In [26]:
len(training_set)

6040

In [27]:
 training_set = torch.FloatTensor(training_set)

In [28]:
 test_set = torch.FloatTensor(test_set)

In [29]:
training_set

tensor([[5., 0., 0.,  ..., 0., 0., 0.],
        [0., 0., 0.,  ..., 0., 0., 0.],
        [0., 0., 0.,  ..., 0., 0., 0.],
        ...,
        [0., 0., 0.,  ..., 0., 0., 0.],
        [0., 0., 0.,  ..., 0., 0., 0.],
        [3., 0., 0.,  ..., 0., 0., 0.]])

In [30]:
test_set

tensor([[0., 0., 0.,  ..., 0., 0., 0.],
        [0., 0., 0.,  ..., 0., 0., 0.],
        [0., 0., 0.,  ..., 0., 0., 0.],
        ...,
        [0., 0., 0.,  ..., 0., 0., 0.],
        [0., 0., 0.,  ..., 0., 0., 0.],
        [0., 0., 0.,  ..., 0., 0., 0.]])

In [31]:
class SAE(nn.Module):
    def __init__(self, ):
        super(SAE,self).__init__()
        self.fc1 = nn.Linear(nb_movies,20)
        self.fc2 = nn.Linear(20,10)
        self.fc3 = nn.Linear(10,20)
        self.fc4 = nn.Linear(20,nb_movies)
        self.activation = nn.Sigmoid()
    def forward(self,x):
        x=self.activation(self.fc1(x))
        x=self.activation(self.fc2(x))
        x=self.activation(self.fc3(x))
        x=self.fc4(x)
        return x
    
sae = SAE()
criterion = nn.MSELoss()
optimizer = optim.RMSprop(sae.parameters(), lr = 0.01, weight_decay = 0.5)

In [32]:
nb_epochs = 200

In [33]:
for epoch in range(1,nb_epochs+1):
    train_loss = 0
    s = 0.
    for id_user in range(nb_users):
        input = Variable(training_set[id_user]).unsqueeze(0)
        target = input.clone()
        if torch.sum(target.data > 0) > 0:
            output = sae(input)
            target.require_grad = False
            output[target == 0] = 0
            loss = criterion(output, target)
            mean_corrector = nb_movies/float(torch.sum(target.data > 0 )+ 1e-10)
            loss.backward() #decided the direction of update
            train_loss += np.sqrt(loss.item()*mean_corrector)
            s += 1. 
            optimizer.step()  #decides the intensity of update
    print('epoch : '+str(epoch)+'loss: '+str(train_loss/s))

epoch : 1loss: 1.3478086477607272
epoch : 2loss: 1.0099722382425138
epoch : 3loss: 0.989965574088563
epoch : 4loss: 0.9832631817745073
epoch : 5loss: 0.9801505619759615
epoch : 6loss: 0.9783678935924842
epoch : 7loss: 0.9773657703478474
epoch : 8loss: 0.9765357378747919
epoch : 9loss: 0.9759378646957357
epoch : 10loss: 0.9754782408866515
epoch : 11loss: 0.9753469568286042
epoch : 12loss: 0.9748521926096132
epoch : 13loss: 0.9747134685509039
epoch : 14loss: 0.9746140776221671
epoch : 15loss: 0.9744869989291467
epoch : 16loss: 0.9742890532216576
epoch : 17loss: 0.9742294160331261
epoch : 18loss: 0.9740309084293539
epoch : 19loss: 0.974026320116927
epoch : 20loss: 0.9738597710773592
epoch : 21loss: 0.9737657226018885
epoch : 22loss: 0.9737042983773742
epoch : 23loss: 0.9735370076313347
epoch : 24loss: 0.9732751950371644
epoch : 25loss: 0.9727709354932378
epoch : 26loss: 0.9721188872530531
epoch : 27loss: 0.9713210615727462
epoch : 28loss: 0.9704315196316684
epoch : 29loss: 0.9695356633606087
epoch : 30loss: 0.9698899817430348
epoch : 31loss: 0.9686879472445863
epoch : 32loss: 0.9675006667514404
epoch : 33loss: 0.9667958245667394
epoch : 34loss: 0.9652160422856241
epoch : 35loss: 0.9643067237213859
epoch : 36loss: 0.964122932428009
epoch : 37loss: 0.9638686671587492
epoch : 38loss: 0.9627414332215627
epoch : 39loss: 0.9626118834445853
epoch : 40loss: 0.959974983719597
epoch : 41loss: 0.9599610880587969
epoch : 42loss: 0.9616224725626525
epoch : 43loss: 0.9598076815979146
epoch : 44loss: 0.9571647085646542
epoch : 45loss: 0.9553844547543905
epoch : 46loss: 0.9532724284584136
epoch : 47loss: 0.9509286662290102
epoch : 48loss: 0.9491006203732584
epoch : 49loss: 0.9472363727186529
epoch : 50loss: 0.9481357669750217
epoch : 51loss: 0.9493121059366132
epoch : 52loss: 0.9449369446555326
epoch : 53loss: 0.9460559823099581
epoch : 54loss: 0.9431023295422403
epoch : 55loss: 0.9419911872677118
epoch : 56loss: 0.9392421169912194
epoch : 57loss: 0.9360384780615902
epoch : 58loss: 0.9333615857811616
epoch : 59loss: 0.9370937608713069
epoch : 60loss: 0.9355643040280717
epoch : 61loss: 0.9320339047592572
epoch : 62loss: 0.9336274159840744
epoch : 63loss: 0.9292685400635562
epoch : 64loss: 0.9274424233490575
epoch : 65loss: 0.9284368199141394
epoch : 66loss: 0.9262379125072258
epoch : 67loss: 0.9223850642840108
epoch : 68loss: 0.9250516476624412
epoch : 69loss: 0.9241255379198523
epoch : 70loss: 0.9244707044644415
epoch : 71loss: 0.9248335597936251
epoch : 72loss: 0.9226671093101689
epoch : 73loss: 0.9197122150710394
epoch : 74loss: 0.9257980807783464
epoch : 75loss: 0.9215460057297018
epoch : 76loss: 0.9167470656256651
epoch : 77loss: 0.915510916629194
epoch : 78loss: 0.9145749535403912
epoch : 79loss: 0.9165457073510924
epoch : 80loss: 0.9146729933182517
epoch : 81loss: 0.9162943927115635
epoch : 82loss: 0.9132621420169754
epoch : 83loss: 0.9151364489501121
epoch : 84loss: 0.9160641651076661
epoch : 85loss: 0.911754278299945
epoch : 86loss: 0.9101940131193964
epoch : 87loss: 0.9116084266327349
epoch : 88loss: 0.9110688459759972
epoch : 89loss: 0.9096857009925066
epoch : 90loss: 0.9114934450955097
epoch : 91loss: 0.9085003383676037
epoch : 92loss: 0.9077476027848028
epoch : 93loss: 0.906776648754312
epoch : 94loss: 0.9078258981514771
epoch : 95loss: 0.9070595395028144
epoch : 96loss: 0.9049033332403614
epoch : 97loss: 0.9066703899347581
epoch : 98loss: 0.9064692558807782
epoch : 99loss: 0.9037720984457276
epoch : 100loss: 0.9039337979283537
epoch : 101loss: 0.9046094601925762
epoch : 102loss: 0.9028424294693133
epoch : 103loss: 0.9032358117730966
epoch : 104loss: 0.9042254943730427
epoch : 105loss: 0.9026816974624023
epoch : 106loss: 0.902438915534806
epoch : 107loss: 0.9031720986388349
epoch : 108loss: 0.9028109126489174
epoch : 109loss: 0.9011173021043641
epoch : 110loss: 0.9008567854847933
epoch : 111loss: 0.9006144053953754
epoch : 112loss: 0.899715088774431
epoch : 113loss: 0.9008265458422459
epoch : 114loss: 0.9006869896330181
epoch : 115loss: 0.9003131081149504
epoch : 116loss: 0.899003215078796
epoch : 117loss: 0.8987723811482542
epoch : 118loss: 0.8985585355121054
epoch : 119loss: 0.8984528770104181
epoch : 120loss: 0.8982368557540634
epoch : 121loss: 0.8988926038151686
epoch : 122loss: 0.9004991141932384
epoch : 123loss: 0.8992426838601777
epoch : 124loss: 0.8982153634741324
epoch : 125loss: 0.8995622741072199
epoch : 126loss: 0.8995418077123185
epoch : 127loss: 0.8985981005333757
epoch : 128loss: 0.8973863188369796
epoch : 129loss: 0.8969987554509418
epoch : 130loss: 0.8967283526086113
epoch : 131loss: 0.8966781455423701
epoch : 132loss: 0.8969932420426694
epoch : 133loss: 0.8965002414291813
epoch : 134loss: 0.8964637668120156
epoch : 135loss: 0.8963087590719534
epoch : 136loss: 0.8967317209671425
epoch : 137loss: 0.8969138838865227
epoch : 138loss: 0.8972767710148639
epoch : 139loss: 0.8967910586212091
epoch : 140loss: 0.8970726020121771
epoch : 141loss: 0.8961236016678168
epoch : 142loss: 0.8961896902906943
epoch : 143loss: 0.8958494894491913
epoch : 144loss: 0.8953855569662496
epoch : 145loss: 0.8965368773921892
epoch : 146loss: 0.8954755035791505
epoch : 147loss: 0.8949839742782787
epoch : 148loss: 0.8951240975067961
epoch : 149loss: 0.8958524520938689
epoch : 150loss: 0.8960125002393174
epoch : 151loss: 0.8949458992498925
epoch : 152loss: 0.8949917331200785
epoch : 153loss: 0.8952788867084418
epoch : 154loss: 0.8946131878913659
epoch : 155loss: 0.8941963151561506
epoch : 156loss: 0.8945760219818856
epoch : 157loss: 0.8940491418305727
epoch : 158loss: 0.8942731547715789
epoch : 159loss: 0.8940041211132094
epoch : 160loss: 0.8940058519610804
epoch : 161loss: 0.8940241683553093
epoch : 162loss: 0.8937458451915725
epoch : 163loss: 0.894434459471507
epoch : 164loss: 0.8936910342724074
epoch : 165loss: 0.8935601456369067
epoch : 166loss: 0.8933151480615492
epoch : 167loss: 0.8937962265180192
epoch : 168loss: 0.8934042940516932
epoch : 169loss: 0.8934506381983439
epoch : 170loss: 0.8937769346299542
epoch : 171loss: 0.8935356707719064
epoch : 172loss: 0.8931426470864757
epoch : 173loss: 0.8929518644292792
epoch : 174loss: 0.8926759603475413
epoch : 175loss: 0.8929930285603064
epoch : 176loss: 0.8927838292681735
epoch : 177loss: 0.8925343388590533
epoch : 178loss: 0.8927539583072648
epoch : 179loss: 0.8927711153732988
epoch : 180loss: 0.8924165062507032
epoch : 181loss: 0.8928783112987684
epoch : 182loss: 0.8926875252087392
epoch : 183loss: 0.892315503114635
epoch : 184loss: 0.8920729782447493
epoch : 185loss: 0.8922596298818953
epoch : 186loss: 0.8921814067042878
epoch : 187loss: 0.8920025343894745
epoch : 188loss: 0.8919163551517295
epoch : 189loss: 0.8924247750685113
epoch : 190loss: 0.8925716365808671
epoch : 191loss: 0.8922069682166422
epoch : 192loss: 0.8918971488736624
epoch : 193loss: 0.8917793244445682
epoch : 194loss: 0.8915125411555749
epoch : 195loss: 0.8919289310687085
epoch : 196loss: 0.8920951661810271
epoch : 197loss: 0.8918668489669866
epoch : 198loss: 0.8914225676837707
epoch : 199loss: 0.892660411083643
epoch : 200loss: 0.8930712530976362

In [34]:
training_set[0].shape

torch.Size([3952])

In [35]:
(Variable(training_set[0]).unsqueeze(0)).shape

torch.Size([1, 3952])

In [36]:
torch.sum(training_set[0].data > 0 )

tensor(40)

In [38]:
training_set.shape

torch.Size([6040, 3952])

In [39]:
test_set.shape

torch.Size([6040, 3952])

In [51]:
test_loss = 0
s = 0.
for id_user in range(nb_users):
    input = Variable(training_set[id_user]).unsqueeze(0)
    target = Variable(test_set[id_user])
    if torch.sum(target.data > 0) > 0:
        output = sae(input)
        target.require_grad = False
        output[target.view(1, -1) == 0] = 0
        loss = criterion(output, target)
        mean_corrector = nb_movies/float(torch.sum(target.data > 0 )+ 1e-10)
        test_loss += np.sqrt(loss.item()*mean_corrector)
        s += 1. 
          
print('test loss: '+str(test_loss/s))

C:\Users\bathu\anaconda3\lib\site-packages\torch\nn\modules\loss.py:530: UserWarning: Using a target size (torch.Size([3952])) that is different to the input size (torch.Size([1, 3952])). This will likely lead to incorrect results due to broadcasting. Please ensure they have the same size.
  return F.mse_loss(input, target, reduction=self.reduction)

test loss: 0.912290756977653

In [43]:
t = Variable(test_set[id_user])

In [47]:
len(t)

3952

In [54]:
test_set

tensor([[0., 0., 0.,  ..., 0., 0., 0.],
        [0., 0., 0.,  ..., 0., 0., 0.],
        [0., 0., 0.,  ..., 0., 0., 0.],
        ...,
        [0., 0., 0.,  ..., 0., 0., 0.],
        [0., 0., 0.,  ..., 0., 0., 0.],
        [0., 0., 0.,  ..., 0., 0., 0.]])